body{
    /* background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: antiquewhite;
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    text-align: center;
    font-size: 30pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000000;
}

.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 10px;
    background-color: #be93d4;
    width: 70%;
    height: 80%;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.image{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    margin-top: 10px;
}

.info{
    color: black;
    font-size: large;
}